
#spectrogramCanvas {
  touch-action: none; /* prevents browser pan/zoom gestures on this element */
  background-color: black;
  padding:0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvasRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

/* Reset default styling */
#vScrollbar,
#hScrollbar {

  margin: 1;
  padding: 0;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  touch-action: none;
}

/* -------------------- */
/* VERTICAL SCROLLBAR   */
/* -------------------- */

#vScrollbar {
  writing-mode: vertical-rl;
  direction: ltr;
  width: 8px;      /* thickness */
  height: 600px;   /* length */
}

/* Transparent track */
#vScrollbar::-webkit-slider-runnable-track {
background: gray;
}

/* Black thumb */
#vScrollbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  width: 12px;
  height: 12px;
border-radius: 3px;   cursor: pointer;
  margin-top: -2px;
}

/* Firefox */
#vScrollbar::-moz-range-track {
background: gray;}

#vScrollbar::-moz-range-thumb {
  background: black;
  border: none;
  width: 12px;
  height: 12px;
border-radius: 3px; }


/* -------------------- */
/* HORIZONTAL SCROLLBAR */
/* -------------------- */

#hScrollbar {
  width: 300px;
  height: 8px;
}

/* Transparent track */
#hScrollbar::-webkit-slider-runnable-track {
  background: gray;
}

/* Black thumb */
#hScrollbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: black;
  width: 12px;
  height: 12px;
border-radius: 3px;   cursor: pointer;
}

/* Firefox */
#hScrollbar::-moz-range-track {
  background: gray;
}

#hScrollbar::-moz-range-thumb {
  background: black;
  border: none;
  width: 12px;
  height: 12px;
border-radius: 3px; }

